.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

#food-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.food-item {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 30%;
}

.food-item:hover {
  background-color: #e0e0e0;
}

#selected-foods {
  margin: 20px;
  display: flex;
  gap: 20px;
}

.selected-food {
  background-color: #0a0a0a;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.selected-food button {
  color: white;
  border: none;
  margin-left: 10px;
  background: none;
}

#total-calories,
.calories {
  font-weight: bold;
  color: #4caf50;
}

p {
  margin-bottom: 0 !important;
}

.selected-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px 10px;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 15%;
}

.selected-item p {
  margin: 0;
  font-weight: 500;
  color: #333;
  font-size: 0.5rem;
}

.selected-item button {
  background-color: #ff4d4d;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 6px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.6rem;
}

.selected-item button:hover {
  background-color: #e63939;
}
